table {
  width: 90%;
  height: 80%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.searchFormField {
  width: 90%;
}
.width-90 {
  width: 90%;
}
.searchInput {
  // background-color: rgb(214, 210, 210);
}
#input {
}

.user-paginator {
  width: 90%;
}
