<div>
  <mat-form-field appearance="standard" class="searchFormField mx-auto d-block">
    <div class="d-flex align-items-center justify-content-center">
      <mat-icon>search</mat-icon>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. john"
        #input
        class="searchInput"
      />
    </div>
  </mat-form-field>
</div>
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  class="mat-elevation-z8 mx-auto my-2"
>
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
    <td mat-cell *matCellDef="let element">{{ element.location }}</td>
  </ng-container>
  <ng-container matColumnDef="createdat">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
    <td mat-cell *matCellDef="let element">{{ element.createdat | date }}</td>
  </ng-container>

  <ng-container matColumnDef="actions" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row" class="action-buttons">
      <button
        (click)="editUser(row)"
        mat-icon-button
        color="secondary"
        aria-label="edit button"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        (click)="openDeleteDialog(content, row)"
        mat-icon-button
        color="secondary"
        aria-label="delete button"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div class="d-block">
  <div class="width-90 mx-auto d-flex justify-content-center">
    <ngb-pagination
      [collectionSize]="usersLength"
      [(page)]="page"
      aria-label="Default pagination"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      (pageChange)="updatePagination()"
    ></ngb-pagination>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">User deletion</h4>
    <mat-icon (click)="modal.dismiss('Cross click')">close</mat-icon>
  </div>
  <div class="modal-body">
    <p>
      <strong
        >Are you sure you want to delete
        <span class="text-primary">{{ userToDelete.name }}</span>
        profile?</strong
      >
    </p>
    <p>
      All information associated to this user profile will be permanently
      deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteUser()">
      Ok
    </button>
  </div>
</ng-template>
