nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border: 1px solid black;
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 1rem;
  padding-left: 15%;
  padding-right: 15%;
  h3 {
    margin-bottom: 0px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-top: 0px;
  }
  button {
    color: var(--primary-color);
  }
  .btn-text-white {
    color: white;
  }
}
